{
  "openapi": "3.0.0",
  "info": {
    "title": "Áskell API V2",
    "description": "# Authentication\nAuthentication is via `Authorization` header. When using this documentation to test the API you should prepend your given api key with `\"Api-Key \"`. \n\nYou are given two types of API keys, one public and one secret. Your public key is safe to use in javascript so that it is public to the world. It can only \nbe used to generate a temporary payment method, which in turn has to be confirmed using your secret api key.\n\nSee [the documentation](https://docs.askell.is/) for more information.\n",
    "termsOfService": "https://www.askell.is/terms-conditions",
    "contact": {
      "name": "Documentation",
      "url": "https://docs.askell.is"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://askell.is/api/"
    }
  ],
  "security": [
    {
      "Secret-Api-Key": []
    },
    {
      "Public-Api-Key": []
    }
  ],
  "tags": [
    {
      "name": "V2 Catalog",
      "description": "Subscription V2 catalog product and price read APIs, requires secret api key."
    },
    {
      "name": "V2 Bundles",
      "description": "Subscription V2 bundle template and add-on discovery APIs, requires secret api key."
    },
    {
      "name": "V2 Subscription Contracts",
      "description": "Subscription V2 quote, contract creation, contract reads, restricted updates, and lifecycle APIs, requires secret api key."
    },
    {
      "name": "V2 Customer Payment Methods",
      "description": "Subscription V2 customer payment-method management APIs for card, claim, and invoice collection, requires secret api key."
    },
    {
      "name": "V2 Entitlements",
      "description": "Subscription V2 customer/product service entitlement access checks, requires secret api key."
    },
    {
      "name": "V2 Checkouts",
      "description": "Subscription V2 hosted checkout APIs, requires secret api key."
    },
    {
      "name": "V2 Embedded Checkout Sessions",
      "description": "Subscription V2 embedded checkout session APIs for seller backend integrations."
    },
    {
      "name": "V2 Billing Runs",
      "description": "Subscription V2 billing-run read and retry APIs, requires secret api key."
    },
    {
      "name": "V2 Fulfillment",
      "description": "Subscription V2 fulfillment order read APIs for warehouse integrations, requires secret api key."
    }
  ],
  "paths": {
    "/v2/catalog/products/": {
      "get": {
        "tags": [
          "V2 Catalog"
        ],
        "summary": "List V2 catalog products",
        "description": "Lists catalog products for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ActiveFilter"
          },
          {
            "$ref": "#/components/parameters/V2ReferenceFilter"
          },
          {
            "$ref": "#/components/parameters/PageSizeFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CatalogProductList"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/catalog/products/{productId}/": {
      "get": {
        "tags": [
          "V2 Catalog"
        ],
        "summary": "Get a V2 catalog product",
        "description": "Returns a catalog product and its prices for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ProductId"
          },
          {
            "$ref": "#/components/parameters/V2ActiveFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CatalogProductDetail"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/catalog/prices/": {
      "get": {
        "tags": [
          "V2 Catalog"
        ],
        "summary": "List V2 catalog prices",
        "description": "Lists catalog prices for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ActiveFilter"
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Product id or product reference."
          },
          {
            "$ref": "#/components/parameters/V2ReferenceFilter"
          },
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "type": "string"
            },
            "description": "Filter by currency."
          },
          {
            "in": "query",
            "name": "billing_type",
            "schema": {
              "type": "string",
              "enum": [
                "recurring",
                "one_time"
              ]
            },
            "description": "Filter by price billing type."
          },
          {
            "in": "query",
            "name": "recurrence_type",
            "schema": {
              "type": "string"
            },
            "description": "Filter by recurrence type."
          },
          {
            "$ref": "#/components/parameters/PageSizeFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CatalogPriceList"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/catalog/prices/{priceId}/": {
      "get": {
        "tags": [
          "V2 Catalog"
        ],
        "summary": "Get a V2 catalog price",
        "description": "Returns a catalog price for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2PriceId"
          },
          {
            "$ref": "#/components/parameters/V2ActiveFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CatalogPrice"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/bundle-templates/": {
      "get": {
        "tags": [
          "V2 Bundles"
        ],
        "summary": "List V2 bundle templates",
        "description": "Lists bundle templates for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ActiveFilter"
          },
          {
            "$ref": "#/components/parameters/V2ReferenceFilter"
          },
          {
            "$ref": "#/components/parameters/PageSizeFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2BundleTemplateList"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/bundle-templates/{bundleTemplateId}/": {
      "get": {
        "tags": [
          "V2 Bundles"
        ],
        "summary": "Get a V2 bundle template",
        "description": "Returns a bundle template and its selectable item prices for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2BundleTemplateId"
          },
          {
            "$ref": "#/components/parameters/V2ActiveFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2BundleTemplateDetail"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/bundle-templates/{bundleTemplateId}/addons/": {
      "post": {
        "tags": [
          "V2 Bundles"
        ],
        "summary": "Discover V2 bundle add-ons",
        "description": "Returns product and bundle add-ons available for a selected bundle configuration. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2BundleTemplateId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2BundleAddonDiscoveryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2BundleAddonDiscovery"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-offer-quotes/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Quote a V2 subscription offer",
        "description": "Compiles a bundle or direct catalog item offer without creating a contract. Recurring quote lines reflect first-period start proration when the offer begins between anchor dates. Requires a secret key.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionOfferQuoteCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionOfferQuote"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/customers/{customerReference}/payment-methods/": {
      "get": {
        "tags": [
          "V2 Customer Payment Methods"
        ],
        "summary": "List V2 customer payment methods",
        "description": "Lists active verified payment methods for a customer identified by customer reference. Canceled methods are omitted from the list. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CustomerReference"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CustomerPaymentMethodList"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      },
      "post": {
        "tags": [
          "V2 Customer Payment Methods"
        ],
        "summary": "Create or replace a V2 customer payment method",
        "description": "Creates a card payment method or creates/replaces the active claim or invoice setup for the selected account payment processor. The account payment processor is always explicit. Card imports create a new row and cancel conflicting active card methods; claim and invoice creation replaces only the matching active setup. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CustomerReference"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2CustomerPaymentMethodCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/V2CustomerPaymentMethod"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/customers/{customerReference}/payment-methods/{paymentMethodId}/": {
      "get": {
        "tags": [
          "V2 Customer Payment Methods"
        ],
        "summary": "Get a V2 customer payment method",
        "description": "Returns a sanitized payment method by id for the customer, including canceled methods. Token data is never returned. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CustomerReference"
          },
          {
            "$ref": "#/components/parameters/V2PaymentMethodId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CustomerPaymentMethod"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "V2 Customer Payment Methods"
        ],
        "summary": "Update a V2 customer payment method",
        "description": "Partially updates mutable setup fields for an active payment method. Metadata is shallow-merged and null values remove metadata keys. The collection method and account payment processor are immutable; create a new payment method to change them. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CustomerReference"
          },
          {
            "$ref": "#/components/parameters/V2PaymentMethodId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2CustomerPaymentMethodPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CustomerPaymentMethod"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "V2 Customer Payment Methods"
        ],
        "summary": "Cancel a V2 customer payment method",
        "description": "Soft-cancels the payment method, clears stored setup data, and returns 204. Repeating the delete for an already canceled method is idempotent. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CustomerReference"
          },
          {
            "$ref": "#/components/parameters/V2PaymentMethodId"
          }
        ],
        "responses": {
          "204": {
            "description": "Payment method canceled"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/customer-entitlements/": {
      "get": {
        "tags": [
          "V2 Entitlements"
        ],
        "summary": "Evaluate V2 customer service entitlements",
        "description": "Returns current or time-specific service entitlement state for a customer, optionally filtered by catalog product reference. Requires a secret key. Use `service_active` as the integration-facing access flag; do not infer access from payment state.",
        "parameters": [
          {
            "in": "query",
            "name": "customer_reference",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer reference to evaluate."
          },
          {
            "in": "query",
            "name": "product_reference",
            "schema": {
              "type": "string"
            },
            "description": "Optional catalog product reference. When omitted, all current entitlements for the customer are returned."
          },
          {
            "in": "query",
            "name": "at",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Optional evaluation timestamp. Defaults to the current server time."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CustomerEntitlements"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/": {
      "get": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "List V2 subscription contracts",
        "description": "Lists subscription contracts for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string"
            },
            "description": "Filter by contract state."
          },
          {
            "in": "query",
            "name": "customer",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by customer id."
          },
          {
            "in": "query",
            "name": "customer_reference",
            "schema": {
              "type": "string"
            },
            "description": "Filter by customer reference."
          },
          {
            "$ref": "#/components/parameters/PageSizeFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContractList"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      },
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Create a V2 subscription contract",
        "description": "Creates a subscription contract from either a bundle template or direct recurring catalog prices. Use `initial_billing_mode` to choose first-period billing behavior: `none` creates only the recurring schedules, `create_initial_run` creates a scheduled initial BillingRun, and `next_invoice` defers first-period recurring proration lines to the first scheduled invoice. Initial one-time items require `initial_billing_mode=create_initial_run`. Requires a secret key.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/": {
      "get": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Get a V2 subscription contract",
        "description": "Returns a subscription contract for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Partially update a V2 subscription contract",
        "description": "Restricted patch endpoint. Only `metadata` and `payment_processor_override` may be updated. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/proration-preview/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Preview a V2 subscription contract proration",
        "description": "Previews the proration impact of updating an existing V2 subscription contract item. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractProrationPreview"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SubscriptionContractProrationPreviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/items/update/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Update a V2 subscription contract item with proration",
        "description": "Executes a prorated update for an existing V2 subscription contract item. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractItemUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SubscriptionContractItemUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/items/add/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Add a V2 subscription contract item with proration",
        "description": "Executes a prorated add-item change for an existing V2 subscription contract. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractItemAdd"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SubscriptionContractItemUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/items/remove/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Remove a V2 subscription contract item with proration",
        "description": "Executes a prorated remove-item change for an existing V2 subscription contract. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractItemRemove"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SubscriptionContractItemUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/cancel/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Cancel a V2 subscription contract",
        "description": "Cancels a V2 subscription contract immediately or schedules cancellation at the end of the current billing cycle. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractCancel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/restart/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Restart renewals for a V2 subscription contract",
        "description": "Clears a pending period-end cancellation or reactivates a canceled V2 subscription contract. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractRestart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/pause/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Pause renewals for a V2 subscription contract",
        "description": "Creates a finite pause window for a V2 subscription contract. Current pauses move the contract to paused and future pauses are scheduled. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractPause"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/resume/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Resume renewals for a paused V2 subscription contract",
        "description": "Cancels the current pause and resumes renewals for a paused V2 subscription contract. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2SubscriptionContractResume"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/pause/{pauseId}/": {
      "delete": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Delete a future V2 subscription contract pause",
        "description": "Soft-cancels a future scheduled pause for a V2 subscription contract. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          },
          {
            "name": "pauseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/activate/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Activate a V2 subscription contract",
        "description": "Transitions an inactive V2 subscription contract to active. Use the resume endpoint for paused contracts. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2SubscriptionContract"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/apply-code/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Apply a promotion code to a V2 subscription contract",
        "description": "Validates and redeems a promotion code for the contract, creating an active discount that is applied to subsequent billing runs. A contract can only carry one active discount at a time. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "promotion_code"
                ],
                "properties": {
                  "promotion_code": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Promotion code applied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "discount": {
                      "$ref": "#/components/schemas/V2ContractDiscount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/discount/": {
      "get": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Get the active discount for a V2 subscription contract",
        "description": "Returns the contract's active coupon discount, or null when none is active. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "responses": {
          "200": {
            "description": "Active discount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "discount": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/V2ContractDiscount"
                        }
                      ],
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/subscription-contracts/{contractId}/remove-discount/": {
      "post": {
        "tags": [
          "V2 Subscription Contracts"
        ],
        "summary": "Remove the active discount from a V2 subscription contract",
        "description": "Ends the contract's active coupon discount. Subsequent billing runs are charged at full price. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2ContractId"
          }
        ],
        "responses": {
          "200": {
            "description": "Discount removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/checkouts/": {
      "post": {
        "tags": [
          "V2 Checkouts"
        ],
        "summary": "Create a V2 hosted checkout",
        "description": "Creates a pending hosted checkout from either a bundle template or direct catalog prices, returning a token, checkout URL, and quote snapshot. An explicit account payment processor can be supplied when more than one compatible processor is configured. Requires a secret key.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2CheckoutCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/V2Checkout"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/payment-processor-options/": {
      "post": {
        "tags": [
          "V2 Checkouts"
        ],
        "summary": "Discover eligible V2 payment processors",
        "description": "Compiles the requested V2 offer and returns the eligible account payment processors for the resolved currency and collection method. Use this before checkout creation when the client must choose between multiple compatible processors. Requires a secret key.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2PaymentProcessorOptionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2PaymentProcessorOptions"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/checkouts/{token}/": {
      "get": {
        "tags": [
          "V2 Checkouts"
        ],
        "summary": "Get a V2 checkout",
        "description": "Returns a pending or finalized V2 checkout for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CheckoutToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2Checkout"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/checkouts/{token}/payment-method-registrations/": {
      "post": {
        "tags": [
          "V2 Checkouts"
        ],
        "summary": "Create a hosted V2 payment method registration",
        "description": "Creates a checkout-bound hosted payment method registration session for the checkout's selected account payment processor. The response contains a public hosted card-form URL and private status URL. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CheckoutToken"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2PaymentMethodRegistrationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/V2PaymentMethodRegistration"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/payment-method-registrations/{token}/": {
      "get": {
        "tags": [
          "V2 Checkouts"
        ],
        "summary": "Get a V2 payment method registration",
        "description": "Returns the status of a checkout-bound payment method registration and confirms a verified payment method when the processor has completed tokenization. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2PaymentMethodRegistrationToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2PaymentMethodRegistration"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/checkouts/{token}/finalize/": {
      "post": {
        "tags": [
          "V2 Checkouts"
        ],
        "summary": "Finalize a V2 checkout",
        "description": "Creates the subscription contract and initial billing run, then executes payment. The contract is activated only after successful payment. An offer with recurring items requires a verified payment method for the customer even when the initial total is zero (trial period or fully discounted first period); the card is charged when the first paid period arrives. Only a free one-time purchase finalizes without one. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CheckoutToken"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2CheckoutFinalize"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2Checkout"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/checkout-sessions/": {
      "post": {
        "tags": [
          "V2 Embedded Checkout Sessions"
        ],
        "summary": "Create an embedded checkout session",
        "description": "Creates a short-lived checkout session from a sales channel. The seller backend calls this endpoint with a secret API key and sends only the returned session token to the browser widget. Sales-channel offer, origin, payment-processor, metadata, theme, and terms policies are snapshotted onto the session.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2CheckoutSessionCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/V2CheckoutSession"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/checkout-sessions/{token}/": {
      "get": {
        "tags": [
          "V2 Embedded Checkout Sessions"
        ],
        "summary": "Get an embedded checkout session",
        "description": "Returns private checkout-session state for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2CheckoutSessionToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2CheckoutSession"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/billing-runs/": {
      "get": {
        "tags": [
          "V2 Billing Runs"
        ],
        "summary": "List V2 billing runs",
        "description": "Returns V2 billing runs for the authenticated account, including lines and attempts. Requires a secret key.",
        "parameters": [
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by subscription contract id."
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string"
            },
            "description": "Filter by billing-run state."
          },
          {
            "in": "query",
            "name": "customer",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by customer id."
          },
          {
            "in": "query",
            "name": "customer_reference",
            "schema": {
              "type": "string"
            },
            "description": "Filter by customer reference."
          },
          {
            "$ref": "#/components/parameters/PageSizeFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2BillingRunList"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/billing-runs/{billingRunId}/": {
      "get": {
        "tags": [
          "V2 Billing Runs"
        ],
        "summary": "Get a V2 billing run",
        "description": "Returns a V2 billing run with lines and attempts for the authenticated account. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2BillingRunId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2BillingRun"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/billing-runs/{billingRunId}/retry/": {
      "post": {
        "tags": [
          "V2 Billing Runs"
        ],
        "summary": "Retry a V2 billing run",
        "description": "Schedules a manual retry for a retryable V2 billing run. A reason is required and is recorded in billing-run metadata. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2BillingRunId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V2BillingRunRetry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2BillingRun"
          },
          "400": {
            "$ref": "#/components/responses/V2ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/fulfillment-orders/": {
      "get": {
        "tags": [
          "V2 Fulfillment"
        ],
        "summary": "List fulfillment orders",
        "description": "Returns the authenticated account's fulfillment orders, newest first, with the same body the `fulfillment_order.*` webhooks carry. Intended for backfill and for polling-based reconciliation after a missed webhook delivery. Read-only. Requires a secret key, that the account uses subscription contracts, and that shipping is enabled for the account.",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "partially_fulfilled",
                "fulfilled",
                "cancelled"
              ]
            },
            "description": "Filter by fulfillment status."
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by subscription contract id."
          },
          {
            "in": "query",
            "name": "customer",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by customer id."
          },
          {
            "in": "query",
            "name": "customer_reference",
            "schema": {
              "type": "string"
            },
            "description": "Filter by customer reference."
          },
          {
            "in": "query",
            "name": "updated_since",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only orders changed at or after this ISO 8601 timestamp. A bare date means the start of that day. This is the reconciliation filter: poll it with the `updated_at` of the last order you processed."
          },
          {
            "in": "query",
            "name": "created_since",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only orders created at or after this ISO 8601 timestamp. A bare date means the start of that day."
          },
          {
            "$ref": "#/components/parameters/PageSizeFilter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2FulfillmentOrderList"
          },
          "403": {
            "$ref": "#/components/responses/V2PermissionDenied"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    },
    "/v2/fulfillment-orders/{fulfillmentOrderId}/": {
      "get": {
        "tags": [
          "V2 Fulfillment"
        ],
        "summary": "Get a fulfillment order",
        "description": "Returns one fulfillment order belonging to the authenticated account, with its lines, delivery address, shipping selection and booked shipments. Orders belonging to another account return `404`. Read-only. Requires a secret key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/V2FulfillmentOrderId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/V2FulfillmentOrder"
          },
          "403": {
            "$ref": "#/components/responses/V2PermissionDenied"
          },
          "404": {
            "$ref": "#/components/responses/V2NotFound"
          }
        },
        "security": [
          {
            "Secret-Api-Key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "V2ValidationError": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "non_field_errors": "Provide exactly one input mode: `bundle_template` or `items`."
        }
      },
      "V2Metadata": {
        "type": "object",
        "additionalProperties": true
      },
      "V2BillingScheduleRule": {
        "type": "object",
        "properties": {
          "month": {
            "type": "integer",
            "nullable": true
          },
          "day": {
            "type": "integer",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "display_order": {
            "type": "integer"
          }
        }
      },
      "V2CatalogPrice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "product_id": {
            "type": "integer"
          },
          "product_name": {
            "type": "string"
          },
          "product_reference": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "example": "ISK"
          },
          "unit_amount": {
            "type": "string",
            "format": "decimal",
            "example": "1990.0000"
          },
          "billing_type": {
            "type": "string",
            "enum": [
              "recurring",
              "one_time"
            ]
          },
          "recurrence_type": {
            "type": "string",
            "nullable": true
          },
          "interval": {
            "type": "string",
            "nullable": true
          },
          "interval_count": {
            "type": "integer",
            "nullable": true
          },
          "billing_day_of_month": {
            "type": "integer",
            "nullable": true
          },
          "billing_schedule_id": {
            "type": "integer",
            "nullable": true
          },
          "billing_schedule_name": {
            "type": "string",
            "nullable": true
          },
          "billing_schedule_timezone": {
            "type": "string",
            "nullable": true
          },
          "billing_schedule_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2BillingScheduleRule"
            }
          },
          "next_occurrences": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            }
          },
          "active": {
            "type": "boolean"
          },
          "currently_effective": {
            "type": "boolean"
          },
          "effective_from": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "effective_to": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "V2CatalogProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "tax_policy": {
            "type": "string",
            "nullable": true
          },
          "tax_rate_id": {
            "type": "integer",
            "nullable": true
          },
          "active_price_count": {
            "type": "integer"
          },
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "V2CatalogProductDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2CatalogProduct"
          },
          {
            "type": "object",
            "properties": {
              "prices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/V2CatalogPrice"
                }
              }
            }
          }
        ]
      },
      "V2BundleProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V2BundleSelectablePrice": {
        "type": "object",
        "properties": {
          "price_id": {
            "type": "integer"
          },
          "display_label": {
            "type": "string",
            "nullable": true
          },
          "is_default": {
            "type": "boolean"
          },
          "price": {
            "$ref": "#/components/schemas/V2CatalogPrice"
          }
        }
      },
      "V2BundleTemplateItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "product": {
            "$ref": "#/components/schemas/V2BundleProduct"
          },
          "quantity": {
            "type": "integer"
          },
          "required": {
            "type": "boolean"
          },
          "price_option_scope": {
            "type": "string"
          },
          "default_price_id": {
            "type": "integer",
            "nullable": true
          },
          "default_price": {
            "nullable": true,
            "$ref": "#/components/schemas/V2CatalogPrice"
          },
          "selectable_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2BundleSelectablePrice"
            }
          },
          "display_order": {
            "type": "integer"
          },
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          }
        }
      },
      "V2BundleTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "default_currency": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "item_count": {
            "type": "integer"
          },
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "V2BundleTemplateDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2BundleTemplate"
          },
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/V2BundleTemplateItem"
                }
              }
            }
          }
        ]
      },
      "V2ContractItemInput": {
        "type": "object",
        "required": [
          "price"
        ],
        "properties": {
          "price": {
            "type": "integer"
          },
          "rule_id": {
            "type": "integer",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "unit_amount_override": {
            "type": "string",
            "format": "decimal",
            "nullable": true
          },
          "discount_percent": {
            "type": "string",
            "format": "decimal",
            "nullable": true
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          }
        }
      },
      "V2BundleItemSelection": {
        "type": "object",
        "required": [
          "bundle_item"
        ],
        "properties": {
          "bundle_item": {
            "type": "integer"
          },
          "include": {
            "type": "boolean",
            "default": true
          },
          "selected_price": {
            "type": "integer",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "unit_amount_override": {
            "type": "string",
            "format": "decimal",
            "nullable": true
          },
          "discount_percent": {
            "type": "string",
            "format": "decimal",
            "nullable": true
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          }
        }
      },
      "V2AdditionalBundle": {
        "type": "object",
        "required": [
          "rule_id"
        ],
        "properties": {
          "rule_id": {
            "type": "integer"
          },
          "bundle_template": {
            "type": "integer"
          },
          "bundle_template_id": {
            "type": "integer"
          },
          "bundle_selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2BundleItemSelection"
            }
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          }
        }
      },
      "V2BundleAddonDiscoveryRequest": {
        "type": "object",
        "properties": {
          "bundle_item_selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2BundleItemSelection"
            }
          }
        }
      },
      "V2BundleAddonProductOffer": {
        "type": "object",
        "properties": {
          "rule_id": {
            "type": "integer"
          },
          "relationship_type": {
            "type": "string"
          },
          "min_quantity": {
            "type": "integer"
          },
          "max_quantity": {
            "type": "integer",
            "nullable": true
          },
          "same_interval_required": {
            "type": "boolean"
          },
          "same_currency_required": {
            "type": "boolean"
          },
          "product": {
            "$ref": "#/components/schemas/V2BundleProduct"
          },
          "default_price_id": {
            "type": "integer"
          },
          "selectable_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2CatalogPrice"
            }
          }
        }
      },
      "V2BundleAddonBundleOffer": {
        "type": "object",
        "properties": {
          "rule_id": {
            "type": "integer"
          },
          "relationship_type": {
            "type": "string"
          },
          "min_quantity": {
            "type": "integer"
          },
          "max_quantity": {
            "type": "integer",
            "nullable": true
          },
          "same_interval_required": {
            "type": "boolean"
          },
          "same_currency_required": {
            "type": "boolean"
          },
          "bundle_template": {
            "$ref": "#/components/schemas/V2BundleTemplateDetail"
          }
        }
      },
      "V2BundleAddonDiscoveryResponse": {
        "type": "object",
        "properties": {
          "bundle_template_id": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "recurrence_type": {
            "type": "string"
          },
          "interval": {
            "type": "string",
            "nullable": true
          },
          "interval_count": {
            "type": "integer",
            "nullable": true
          },
          "billing_day_of_month": {
            "type": "integer",
            "nullable": true
          },
          "billing_schedule_id": {
            "type": "integer",
            "nullable": true
          },
          "product_addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2BundleAddonProductOffer"
            }
          },
          "bundle_addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2BundleAddonBundleOffer"
            }
          }
        }
      },
      "V2ContractDiscount": {
        "type": "object",
        "description": "An applied coupon discount on a V2 subscription contract.",
        "properties": {
          "id": {
            "type": "string"
          },
          "coupon": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "amount_off": {
                "type": "string",
                "format": "decimal",
                "nullable": true
              },
              "currency": {
                "type": "string",
                "nullable": true
              },
              "percent_off": {
                "type": "string",
                "format": "decimal",
                "nullable": true
              },
              "duration": {
                "type": "string",
                "enum": [
                  "forever",
                  "once",
                  "repeating"
                ]
              },
              "duration_in_months": {
                "type": "integer",
                "nullable": true
              },
              "discount_display": {
                "type": "string"
              }
            }
          },
          "promotion_code": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "V2SubscriptionOfferQuoteCreate": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "bundle_template": {
            "type": "integer",
            "nullable": true
          },
          "bundle_quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "bundle_item_selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2BundleItemSelection"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2ContractItemInput"
            }
          },
          "initial_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2ContractItemInput"
            }
          },
          "additional_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2ContractItemInput"
            }
          },
          "additional_bundles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2AdditionalBundle"
            }
          },
          "promotion_code": {
            "type": "string",
            "nullable": true,
            "description": "Optional promotion code. When valid, the resulting discount is folded into the offer totals; on contract creation the code is redeemed and a discount is attached to the contract."
          },
          "customer": {
            "type": "integer",
            "nullable": true,
            "description": "Optional customer id. When given, the quote also reflects combo discounts earned through the customer's other active contracts, and promotion-code restrictions are checked against this customer."
          }
        }
      },
      "V2SubscriptionContractCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2SubscriptionOfferQuoteCreate"
          },
          {
            "type": "object",
            "properties": {
              "customer": {
                "type": "integer"
              },
              "customer_reference": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "enum": [
                  "inactive",
                  "active",
                  "paused",
                  "canceled"
                ],
                "default": "inactive"
              },
              "billing_anchor_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "next_billing_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "recurring": {
                "type": "boolean",
                "default": true
              },
              "payment_processor_override": {
                "type": "integer",
                "nullable": true
              },
              "metadata": {
                "$ref": "#/components/schemas/V2Metadata"
              },
              "initial_billing_mode": {
                "type": "string",
                "enum": [
                  "none",
                  "create_initial_run",
                  "next_invoice"
                ],
                "default": "none",
                "description": "`none` creates recurring schedules without a first-period billing artifact. `create_initial_run` creates a scheduled initial BillingRun with first-period recurring lines and one-time initial items. `next_invoice` creates pending first-period recurring proration lines for the first scheduled invoice."
              }
            }
          }
        ]
      },
      "V2SubscriptionContractPatch": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/V2Metadata"
          },
          "payment_processor_override": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "V2SubscriptionContractCancel": {
        "type": "object",
        "properties": {
          "cancel_at_period_end": {
            "type": "boolean",
            "default": false
          },
          "effective_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancel_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "none",
              "create_prorations",
              "always_invoice"
            ],
            "nullable": true
          },
          "settlement_behavior": {
            "type": "string",
            "enum": [
              "next_invoice",
              "invoice_now",
              "credit_balance",
              "refund_manual"
            ],
            "nullable": true
          },
          "include_pending_adjustments": {
            "type": "boolean",
            "default": false
          },
          "idempotency_key": {
            "type": "string",
            "nullable": true
          },
          "preview_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V2SubscriptionContractRestart": {
        "type": "object",
        "properties": {
          "effective_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "none",
              "create_prorations",
              "always_invoice"
            ],
            "nullable": true
          },
          "settlement_behavior": {
            "type": "string",
            "enum": [
              "next_invoice",
              "invoice_now",
              "credit_balance",
              "refund_manual"
            ],
            "nullable": true
          },
          "include_pending_adjustments": {
            "type": "boolean",
            "default": false
          },
          "idempotency_key": {
            "type": "string",
            "nullable": true
          },
          "preview_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V2SubscriptionContractPause": {
        "type": "object",
        "required": [
          "start_date",
          "end_date"
        ],
        "properties": {
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "none",
              "create_prorations",
              "always_invoice"
            ],
            "nullable": true
          },
          "settlement_behavior": {
            "type": "string",
            "enum": [
              "next_invoice",
              "invoice_now",
              "credit_balance",
              "refund_manual"
            ],
            "nullable": true
          },
          "include_pending_adjustments": {
            "type": "boolean",
            "default": false
          },
          "idempotency_key": {
            "type": "string",
            "nullable": true
          },
          "preview_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V2SubscriptionContractResume": {
        "type": "object",
        "properties": {
          "effective_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "none",
              "create_prorations",
              "always_invoice"
            ],
            "nullable": true
          },
          "settlement_behavior": {
            "type": "string",
            "enum": [
              "next_invoice",
              "invoice_now",
              "credit_balance",
              "refund_manual"
            ],
            "nullable": true
          },
          "include_pending_adjustments": {
            "type": "boolean",
            "default": false
          },
          "idempotency_key": {
            "type": "string",
            "nullable": true
          },
          "preview_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V2SubscriptionContractChangeCommon": {
        "type": "object",
        "properties": {
          "effective_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "proration_behavior": {
            "type": "string",
            "enum": [
              "none",
              "create_prorations",
              "always_invoice"
            ],
            "nullable": true
          },
          "settlement_behavior": {
            "type": "string",
            "enum": [
              "next_invoice",
              "invoice_now",
              "credit_balance",
              "refund_manual"
            ],
            "nullable": true
          },
          "include_pending_adjustments": {
            "type": "boolean",
            "default": false
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V2SubscriptionContractProrationPreview": {
        "description": "Polymorphic preview request. Fields beyond the common ones are operation-specific; fields not supported by the selected operation are rejected with a 400 validation error.",
        "allOf": [
          {
            "$ref": "#/components/schemas/V2SubscriptionContractChangeCommon"
          },
          {
            "type": "object",
            "properties": {
              "operation": {
                "type": "string",
                "enum": [
                  "add_item",
                  "remove_item",
                  "update_item",
                  "pause",
                  "resume",
                  "cancel",
                  "restart"
                ],
                "default": "update_item"
              },
              "contract_item": {
                "type": "integer",
                "description": "Required for update_item and remove_item."
              },
              "price": {
                "type": "integer",
                "nullable": true,
                "description": "Only applies to add_item and update_item. Required for add_item."
              },
              "quantity": {
                "type": "integer",
                "nullable": true,
                "description": "Only applies to add_item and update_item."
              },
              "discount_percent": {
                "type": "string",
                "format": "decimal",
                "nullable": true,
                "description": "Only applies to add_item and update_item."
              },
              "unit_amount_override": {
                "type": "string",
                "format": "decimal",
                "nullable": true,
                "description": "Fixed per-unit amount for the item, used instead of the catalog price. Only applies to add_item and update_item. On update_item, omitting the field keeps the item's current override while an explicit null clears it so the item reverts to the catalog price."
              },
              "start_date": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "Only applies to pause."
              },
              "end_date": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "Only applies to pause."
              },
              "pause_end_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Only applies to pause."
              }
            }
          }
        ]
      },
      "V2SubscriptionContractItemAdd": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2SubscriptionContractChangeCommon"
          },
          {
            "type": "object",
            "required": [
              "price"
            ],
            "properties": {
              "operation": {
                "type": "string",
                "enum": [
                  "add_item"
                ],
                "default": "add_item"
              },
              "price": {
                "type": "integer"
              },
              "quantity": {
                "type": "integer",
                "nullable": true
              },
              "discount_percent": {
                "type": "string",
                "format": "decimal",
                "nullable": true
              },
              "unit_amount_override": {
                "type": "string",
                "format": "decimal",
                "nullable": true,
                "description": "Fixed per-unit amount for the new item, used instead of the catalog price."
              },
              "idempotency_key": {
                "type": "string",
                "nullable": true
              },
              "preview_token": {
                "type": "string"
              }
            }
          }
        ]
      },
      "V2SubscriptionContractItemRemove": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2SubscriptionContractChangeCommon"
          },
          {
            "type": "object",
            "required": [
              "contract_item"
            ],
            "properties": {
              "operation": {
                "type": "string",
                "enum": [
                  "remove_item"
                ],
                "default": "remove_item"
              },
              "contract_item": {
                "type": "integer"
              },
              "idempotency_key": {
                "type": "string",
                "nullable": true
              },
              "preview_token": {
                "type": "string"
              }
            }
          }
        ]
      },
      "V2SubscriptionContractItemUpdate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2SubscriptionContractChangeCommon"
          },
          {
            "type": "object",
            "required": [
              "contract_item"
            ],
            "properties": {
              "operation": {
                "type": "string",
                "enum": [
                  "update_item"
                ],
                "default": "update_item"
              },
              "contract_item": {
                "type": "integer"
              },
              "price": {
                "type": "integer",
                "nullable": true
              },
              "quantity": {
                "type": "integer",
                "nullable": true
              },
              "discount_percent": {
                "type": "string",
                "format": "decimal",
                "nullable": true
              },
              "unit_amount_override": {
                "type": "string",
                "format": "decimal",
                "nullable": true,
                "description": "Fixed per-unit amount for the item, used instead of the catalog price. Omitting the field keeps the item's current override; an explicit null clears it so the item reverts to the catalog price."
              },
              "idempotency_key": {
                "type": "string",
                "nullable": true
              },
              "preview_token": {
                "type": "string"
              }
            }
          }
        ]
      },
      "V2SubscriptionContractProrationLine": {
        "type": "object",
        "properties": {
          "line_type": {
            "type": "string"
          },
          "price_id": {
            "type": "integer",
            "nullable": true
          },
          "price_version_id": {
            "type": "integer",
            "nullable": true
          },
          "product_name": {
            "type": "string"
          },
          "product_reference": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer"
          },
          "unit_amount": {
            "type": "string",
            "format": "decimal"
          },
          "discount_percent": {
            "type": "string",
            "format": "decimal",
            "nullable": true
          },
          "currency": {
            "type": "string"
          },
          "line_subtotal_amount": {
            "type": "string",
            "format": "decimal"
          },
          "line_tax_amount": {
            "type": "string",
            "format": "decimal"
          },
          "line_total_amount": {
            "type": "string",
            "format": "decimal"
          },
          "proration_factor": {
            "type": "string",
            "format": "decimal"
          },
          "proration_reason": {
            "type": "string",
            "nullable": true
          },
          "adjustment_service_start_at": {
            "type": "string",
            "format": "date-time"
          },
          "adjustment_service_end_at": {
            "type": "string",
            "format": "date-time"
          },
          "tax_percent": {
            "type": "string",
            "format": "decimal",
            "nullable": true
          },
          "tax_calculation_mode": {
            "type": "string",
            "nullable": true
          },
          "source_billing_run_line_id": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "V2SubscriptionContractProrationPreviewResponse": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string"
          },
          "effective_at": {
            "type": "string",
            "format": "date-time"
          },
          "proration_behavior": {
            "type": "string",
            "nullable": true
          },
          "settlement_behavior": {
            "type": "string",
            "nullable": true
          },
          "old_recurring_total": {
            "type": "string",
            "format": "decimal"
          },
          "new_recurring_total": {
            "type": "string",
            "format": "decimal"
          },
          "debit_lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2SubscriptionContractProrationLine"
            }
          },
          "credit_lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2SubscriptionContractProrationLine"
            }
          },
          "net_amount_due_now": {
            "type": "string",
            "format": "decimal"
          },
          "net_balance_credit": {
            "type": "string",
            "format": "decimal"
          },
          "discount_amount_due_now": {
            "type": "string",
            "format": "decimal",
            "description": "Contract coupon discount applied to the immediate (invoice_now) charge. Percent-off, non-once coupons only; 0.0000 otherwise."
          },
          "next_billing_estimate": {
            "type": "string",
            "format": "decimal",
            "description": "Estimated next recurring charge, net of the contract's active coupon discount."
          },
          "resolved_price_version_ids": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "preview_token": {
            "type": "string"
          }
        }
      },
      "V2SubscriptionContractItemUpdateResponse": {
        "type": "object",
        "properties": {
          "change_id": {
            "type": "integer"
          },
          "billing_run_id": {
            "type": "integer",
            "nullable": true
          },
          "pending_adjustment_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "replayed": {
            "type": "boolean"
          },
          "contract": {
            "$ref": "#/components/schemas/V2SubscriptionContract"
          }
        }
      },
      "V2CheckoutCreate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2SubscriptionOfferQuoteCreate"
          },
          {
            "type": "object",
            "properties": {
              "collection_method": {
                "type": "string",
                "enum": [
                  "card",
                  "claim",
                  "invoice"
                ],
                "default": "card"
              },
              "account_payment_processor": {
                "type": "integer",
                "nullable": true
              },
              "customer": {
                "type": "integer"
              },
              "customer_reference": {
                "type": "string"
              },
              "metadata": {
                "$ref": "#/components/schemas/V2Metadata"
              },
              "delivery_address": {
                "$ref": "#/components/schemas/V2Address",
                "description": "Optional delivery-address snapshot for physical products or alternate delivery."
              },
              "shipping": {
                "$ref": "#/components/schemas/V2ShippingSelectionInput",
                "description": "The shipping option the customer chose. Required when the offer contains physical products and the account has active shipping options."
              },
              "allowed_origin": {
                "type": "string",
                "description": "Origin allowed to embed the hosted card form for this checkout in an iframe, for example `https://shop.example`. A single http(s) origin with no path; http is accepted only for `localhost` and loopback addresses (`127.0.0.0/8`, `[::1]`). When set it replaces the account-level checkout origins in the hosted page's `frame-ancestors` policy. Not accepted on checkout-session endpoints, where the sales channel's allowed origins apply."
              }
            }
          }
        ]
      },
      "V2ShippingSelectionInput": {
        "type": "object",
        "required": [
          "option"
        ],
        "properties": {
          "option": {
            "type": "integer",
            "description": "Id of one of the account's active shipping options. An option with a rate table is priced for the delivery address's zip code (the request's `delivery_address`, else the customer's address) and the weight of the goods; when the table has no rate for that delivery the request fails with `400`, `shipping` describing why and `shipping_code` `shipping_not_available`."
          },
          "location_id": {
            "type": "string",
            "nullable": true,
            "description": "Provider id of the chosen pickup location. Required for options with `requires_location`."
          },
          "location_name": {
            "type": "string",
            "nullable": true
          },
          "location_address": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "V2ShippingSelection": {
        "type": "object",
        "nullable": true,
        "description": "Snapshot of the shipping option chosen at checkout.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "option_id": {
            "type": "integer",
            "nullable": true
          },
          "handler": {
            "type": "string",
            "enum": [
              "dropp",
              "posturinn",
              "store_pickup"
            ]
          },
          "delivery_mode": {
            "type": "string",
            "enum": [
              "home_delivery",
              "pickup_point",
              "post_office",
              "store_pickup",
              "freight"
            ]
          },
          "option_name": {
            "type": "string"
          },
          "service_code": {
            "type": "string"
          },
          "price_amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "zone_name": {
            "type": "string",
            "description": "The shipping zone that priced the selection, or an empty string when the option is flat-priced or the rate applied to every zip code."
          },
          "weight_band": {
            "type": "string",
            "description": "The weight band that priced the selection as `min-max` in grams (`max` empty for an open-ended band), or an empty string for a flat-priced option."
          },
          "location_id": {
            "type": "string"
          },
          "location_name": {
            "type": "string"
          },
          "location_address": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/V2PickupLocation"
          }
        }
      },
      "V2PickupLocation": {
        "type": "object",
        "nullable": true,
        "description": "The chosen pickup location as a structured block an external fulfillment system can book against, or null when the selection has none (home delivery, freight, store pickup without an address). Derived from the shipping provider's own payload, with the flat `location_*` values as the fallback.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The provider's id for the location."
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string",
            "description": "One-line address, composed from street, zip code and town when the provider does not supply one."
          },
          "street": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "The location's id in the provider's upstream system, when it exposes one."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "V2Address": {
        "type": "object",
        "properties": {
          "delivery_name": {
            "type": "string",
            "nullable": true
          },
          "address_1": {
            "type": "string"
          },
          "address_2": {
            "type": "string",
            "nullable": true
          },
          "address_3": {
            "type": "string",
            "nullable": true
          },
          "zip_code": {
            "type": "string"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Required by the embedded checkout widget for non-Icelandic addresses. Icelandic addresses resolve city from `zip_code`."
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "default": "IS"
          }
        }
      },
      "V2PaymentProcessorOptionsRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/V2SubscriptionOfferQuoteCreate"
          },
          {
            "type": "object",
            "properties": {
              "collection_method": {
                "type": "string",
                "enum": [
                  "card",
                  "claim",
                  "invoice"
                ],
                "default": "card"
              },
              "account_payment_processor": {
                "type": "integer",
                "nullable": true
              }
            }
          }
        ]
      },
      "V2PaymentProcessorOption": {
        "type": "object",
        "properties": {
          "account_payment_processor_id": {
            "type": "integer"
          },
          "display_name": {
            "type": "string"
          },
          "payment_processor": {
            "type": "string"
          },
          "payment_processor_type": {
            "type": "string",
            "nullable": true
          },
          "collection_method": {
            "type": "string",
            "enum": [
              "card",
              "claim",
              "invoice"
            ]
          },
[...]
